/* Header */

.header {
  display: flex;
  justify-content: space-between;
  border: solid 1px black;
}
.img {
  width: 175px;
}
.nav-items > ul {
  font-size: 18px;
  display: flex;
  list-style: none;
  padding: 0px 20px;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
.nav-items {
  display: flex;
  align-items: center;
}
.login {
  padding: 0 20px;
}

/* Body */

.filter-btn {
  padding: 8px 8px;
  display: flex;
  align-items: center;
}
.srch-btn {
  margin: 5px;
}
.top-res {
  cursor: pointer;
  margin: 15px;
}

.res-card {
  width: 200px;
  height: 530px;
  background-color: #f0f0f0;
  padding: 5px;
  margin: 5px;
}
.img-1 {
  width: 100%;
  height: 35%;
  border-radius: 15%;
}
.res-card:hover {
  cursor: pointer;
  border: 1px solid crimson;
  background-color: sandybrown;
}
.restro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.shim-card {
  width: 200px;
  height: 380px;
  background-color: #f0f0f0;
}
.shimmer-btn {
  margin: 5px 5px;
}
.shi-btn {
  margin: 15px;
}
.shi-srch {
  margin: 5px;
}
